/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* .descHome {
  width: 420px;
  display: flex;
  justify-content: center;
} */

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.webBackground {
  background: rgb(150, 66, 191);
  background: linear-gradient(
    0deg,
    rgba(150, 66, 191, 1) 2%,
    rgba(14, 173, 223, 1) 61%
  );
  height: 100%;
  padding-bottom: 15px;
}

.navbar{
  border-radius: 20px;
}

.testAnim{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

.backgroundAvatar{
  z-index: 2;
  display: inline;
  position: relative;
  right: 2px;
  top: 2px
}

.avatarMe{
  z-index: 3;
  position: absolute;
  top: 90px;
  width: 68% !important
}

.topHeyHeader{
  padding-top: 20px;
  display: flex;
  justify-content: center;
  
}

.avatarImg{
  z-index: 3;
  position: relative;
  display: inline;
  bottom: 300px;
}

.testContent {
  margin-top: 20px;
 position: relative;
  left: 50%
}

.testContent h4 {
  color: #fff;
  font-size: 3em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.testContent h4:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.testContent h4:nth-child(2) {
  color: #5f3ed9;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.card {
  margin-left: 5%;
  margin-right: 5%;
}

.myDiv {
  display: flex;
  flex-direction: row;
}

.myDiv img {
  display: none;
}
.myDiv:hover img {
  display: block;
}

.arrowDown {
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.introCard {
  border-radius: 25% !important;
}

.descHome {
  margin-left: 10%;
}

.floatingIcon {
  width: 20px;
  height: 20px;
  margin-top: 4px;
  position: relative;
  left: 8px;
}

.testT {
  width: 100%;
  padding-right: 8.7%;
}

.dustinHeader {
  padding-top: 10px;
  font-family: Didot;
  color: black;
  margin-left: 10px;

  /* font-size: 24px; */
}

.reactHeader{
  padding-top: 10px;
  font-family: Didot;
  color: black;
  margin-left: 10px;
}

.cardHome {
  margin-top: 70px;
}

.contactButton {
  margin-left: 15%;
}

.cardAbout {
  /* height: 500px; */
}

.navBarHome {
  margin-left: 5.1%;
  margin-right: 5.1%;
  /* padding-left: 4.85%;
  padding-right: 5%; */
  position: relative;
  top: 20px;
  z-index: 1;
  ;
  
}

.navBarContainer{
  border-radius: 10px !important;
}


.button-29 {
  align-items: center;
  top: 18px;
  left: 28px;
  width: 140px;
  height: 200px;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 20px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: "Didot", monospace;
  font-weight: 900;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* .webBackground {
    background: rgb(201, 46, 106);
    height: 100%;
  } */

  .descHome {
    width: 400px !important;
    display: flex;
    justify-content: center;
  }

  .dustinHeader {
    padding-top: 10px;
    font-family: Didot;
    color: black;
    font-size: 24px;
    margin-left: 10px;
    position: relative;
    right: 5%x;
    margin-right: 10%;
  }

  .testT {
    width: 100%;
    padding-right: 11.5%;
  }

  .hoverClass {
    display: flex;
    flex-direction: row;
  }

  .hoverClass img {
    visibility: hidden;
  }
  .hoverClass:hover img {
    visibility: visible;
  }

  .floatingIcon {
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
    left: 2px;
    margin-right: 8px;
  }

  .iconRow {
    width: 500px !important;
  }

  .descHome {
    width: 300px;
    display: flex;
    margin-left: 16%;
    margin-right: 10%;
  }

  .contactButton {
    margin-left: 25%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .dustinHeader {
    padding-top: 10px;
    font-family: Didot;
    color: black;
    font-size: 24px;
    margin-left: 20px;
    position: relative;
    right: 10%x;
    margin-right: 10%;
    justify-content: space-between;
  }

  .contactButton {
    position: relative;
    left: 10%;
  }

  .card-body p {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
  }

  /* .descHome {
    width: 200px;
    display: flex;
    justify-content: center;
  } */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .contactButton {
    position: relative;
    left: 15%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .contactButton {
    position: relative;
    left: 20%;
  }

  .card {
    margin-right: 10%;
    margin-left: 10%;
  }

  .card-body p {
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
  }

  .card-body h5 {
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
  }

  .navBarHome {
    margin-left: 10%;
    margin-right: 10%;
    /* padding-left: 4.85%;
    padding-right: 5%; */
    position: relative;
    top: 20px;
    z-index: 1;
  }
}
