/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

.descHome {
  width: 420px;
  display: flex;
  margin-left: 8%;
}

.webBackground {
  background: rgb(54, 16, 227);
  background: linear-gradient(
    0deg,
    rgba(54, 16, 227, 1) 1%,
    rgba(14, 173, 223, 1) 93%
  );
  height: 100%;
}

.introCard {
  border-radius: 25% !important;
}

.descHome {
  margin-left: 10%;
}

.hoverClass{
  display: flex;
  flex-direction: row;
}

.hoverClass img{
  visibility:hidden;
}
.hoverClass:hover img {
 visibility:visible;
}

.floatingIcon{
  width: 20px;
  height: 20px;
  margin-top: 4px;
  position: relative;
  left: 8px;
}

.testT {
  width: 100%;
  padding-right: 8.7%;
}

.dustinHeader {
  padding-top: 10px;
  font-family: Didot;
  color: black;
  margin-left: 10px;

  /* font-size: 24px; */
}

.cardHome {
  height: 770px;
  margin-top: 60px;
}

.cardAbout {
  /* height: 500px; */
}

.navBarStyle{
  width: auto;
  display: flex;
  justify-content: space-between;
}

.button-29 {
  align-items: center;
  top: 18px;
  left: 28px;
  width: 140px;
  height: 200px;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 20px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: "Didot", monospace;
  font-weight: 900;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .webBackground {
    background: rgb(201, 46, 106);
    height: 100%;
  }

  .dustinHeader {
    padding-top: 10px;
    font-family: Didot;
    color: black;
    font-size: 24px;
    margin-left: 10px;
    position: relative;
    right: 5%x;
    margin-right: 10%;
   
  }

  .testT {
    width: 100%;
    padding-right: 11.5%;
  }

  .hoverClass{
    display: flex;
    flex-direction: row;
  }

  .hoverClass img{
    visibility:hidden;
  }
  .hoverClass:hover img {
   visibility:visible;
  }

  .floatingIcon{
    width: 15px;
    height: 15px;
   position: relative;
   top: 2px;
   left: 2px;
   margin-right: 8px
  }


  .iconRow {
    width: 500px !important;
  }

  .descHome {
    width: 440px;
    display: flex;
    margin-left: 16%;
  }

  .contactButton {
    margin-left: 10%;
  }

  .navBarStyle{
    width: auto;
    position: relative;
    right: -8%
    
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .webBackground {
    background: rgb(101, 214, 30);
    height: 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
